body{
    margin: 0;
    padding: 0;
}
nav{
    max-width: 100%;
}
.ml-auto{
    margin-left: auto !important;
}
a, .nav-bar, .active, .nav-link, .parrafo{
    color: white !important;
}

main{
    color: white !important;
    background-color: black !important;
}
p {
    color: black;
}
.card{
    background-color: rgb(3, 172, 172);
}
/*BREAKPOINT*/
/*PANTALLA CHICA*/
@media (max-width: 575.98px) {
    .ocultar{
        display: none;
    }
    nav img {
        width: 50px;
    }
}
/*PANTALLA GRANDE*/
@media (min-width: 576px) {
    nav img {
        margin-left: 100px;
        width: 80px;
    }
    header h1{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
    }
    hr{
        border: 1px solid aqua;
    }
    .tittle{
        background-color: aqua;
    }
    
}