html {
    scroll-behavior: smooth;
    /*Smooth scroll*/
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

/*Editando Nav*/
nav {
    max-width: 100%;
}

.ml-auto {
    margin-left: auto !important;
}

a,
.nav-bar,
.active,
.nav-link,
.parrafo {
    color: white !important;
}

/*Modificando main*/
main {
    color: white !important;
    background-color: black !important;
}

.card,
.tittle,
footer {
    background-color: rgb(3, 172, 172);
}

hr {
    border: 1px solid aqua;
}

.altura {
    width: 100%;
    height: 150px;
}

#section2 button {}

/*Modificando footer*/
#footer {
    margin-top: 40px;
    color: white;
}

/*Modificando Fuente*/

h2,
h3 {
    font-weight: 900;
    font-size: 40px;
}

h5 {
    font-weight: 300;

}

h4 {
    font-weight: 300;
    font-size: 20px;
}

#section2 button {
    margin-top: -5%;
    margin-left: -5%;
}

#section2 button h4 {
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

p {
    font-weight: 100;
    font-size: 18px;
}

/*BREAKPOINT*/
/*PANTALLA CHICA*/
@media (max-width: 575.98px) {
    .ocultar {
        display: none;
    }

    nav img {
        width: 50px;
    }

    #footer h3 {
        font-size: 20px;
        margin-top: 5px;
        margin-left: 20px;
    }

    .iconos {
        font-size: 20px;
    }

    .iconos i {
        padding-top: 10px;
    }
}

/*PANTALLA GRANDE*/
@media (min-width: 576px) {
    nav img {
        margin-left: 100px;
        width: 80px;
    }

    nav li .active {
        font-size: 15px;
        font-weight: 900;
    }

    header h1 {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
    }

    .carousel img {
        height: 1050px;
    }

    #section1 {
        margin-top: 40px;
    }

    #section1 .tittle {
        text-align: center;
        padding-top: 10px;
        height: 50px;
    }

    #footer h3 {
        font-size: 30px;
        margin-top: 5px;
        margin-left: 20px;
    }

    .iconos {
        font-size: 30px;
    }

    .iconos i {
        padding-left: 30px;
        padding-top: 10px;
    }
}