body{
    margin: 0;
    padding: 0;
    background-color: #000;
}
a, .nav-bar, .active, .nav-link{
    color: white !important;
}
nav img{
    width: 100px;
}
.ml-auto{
    margin-left: auto !important;
}
#main{
    color: #ffffff;
}
#main hr{
    height: 5px;
    background-color: rgb(0, 225, 255);
}
.row .title {
    background-color: rgb(0, 225, 255);
}
.parrafo{
    font-size: 20px;
}
.top-hr{
   background-color:  rgb(0, 225, 255);
}
#section2{
    margin-top: 80px;
}
.card-text{
    color: black;
}
#contacto{
    background-color: white;
}
#contacto h3, h5{
    color: black;
}
#contacto h5{
    text-align: right;
}